<%- include('includes/header') %>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo mr-auto"><a href="index.html">ReviewSquad</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#header"><img
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAB1klEQVRIS52V4VUCMRCEv3QgHWgFagVIB1iBWAHPCoQK1ArUCoAK1A7swBbsIL6524SQ2xw88+eOS7I7OzO7BAYrAHH4+Z/nFK1arQTe9+NgnAQu+DmEJcQb2/0E1oCetvxkIwnyhTfgrsGZkqzG+GxQpCudDnNgYwEegK29LyA89u9x1ldSVrB/D4cbAyyiYAoo+HO1K+RK8gUk6lxFi481jyFaJRMIv4Y4nT8HfgoB8KoYcVGXLPl1AliCjMdJ4HuyoVGXIFFUiJmrXPU6xJ1p5cYZ0aALJHtujCYFfLd3uSq5x0T2+6mgKCEbuCGJ6SEcsWkfp6qg2ZlyiRLJUVpyjn5boyWcwxFzQie3RkTulcI9QxYsgYv8DFiagFe+P+K3Nd9L77JhnEqDjGoBPEE460U9Ouhk4fs+2eFZz0UK/mqIZUF1cGsU1NrcQtiW477WQLSoO/UUIg26sT5Je8lpquRi35Rh4KIVRM2XHQQNuuLPp8RSuiVToiqnENcQFKe7XYss0S4hzKyLR+ZUWViXRHR9AIpxnXZrihK0E+zrMZeHY75fVxDNBSckcJuruJ87+SQR21q7Ft4fr5A2R0WlRSl+ktIVPonsT8L+67GkNVWH5/8A1nSNGpHrL7MAAAAASUVORK5CYII=" />&nbsp;Username</a>
                    </li>
                    <li><a href="/logout"><img
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABcUlEQVRIS61V0XXDMAg8Jmg3aDtBPUJHSSdLNklGSTboBupDRjIgISl99Y+fZcTBcQCheQhAao//aMfe3BMB9M7nwXQAouBnzvr/BwDmwheAM4D3Be7uAL4B3Ng2oIh/mTrwpTfrvFwtdjogugPpQwBmqWe32sssCWPrMvBg9TtJsjRWWLYXAMq2AxUZsP/KQGdPFyCd5EQBGK57PeMpamrwCuAK0AYk2qnpFTIsRURRdrQBdAUSg7DIJpx3QTxAjfAE0HltTBjHkmUVW6gi5pubaWF0mB5QNBYV5Xc2EsuaxSYd+CIoq52uzItMd9/KQY2K+ec2/zxq8MygoyQ0F4Cwky8AlEyPtK2yGko9wKzzo1ERBmZ6ZqBzU0g1KvwgbPpEbPtF1sXSqZlLE6WNhl1I1w+AoqwBpzWbR9kdXqYirGYn88LhoqudYChUoPTYZxjdgmlabJf2RBRQBZzsgx4bvch9MMd30KnPTFAPaMF+AZlmeBpw8EVhAAAAAElFTkSuQmCC" />&nbsp;Logout</a>
                    </li>
                </ul>
            </nav><!-- .nav-menu -->
            <a href="#about" class="get-started-btn scrollto">Share content&nbsp;<i class="icofont-play-alt-2"></i></a>
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h3 class="text-center mb-4">Users Points</h3>
                    <!-- ======= Counts Section ======= -->
                    <section id="counts" class="counts">
                        <div class="row counters">
                            <div class="col-lg-6 col-6 text-center">
                                <span data-toggle="counter-up">521</span>
                                <p>Submitted Contents</p>
                            </div>
                            <div class="col-lg-6 col-6 text-center">
                                <span data-toggle="counter-up">1,463</span>
                                <p>Reviewed Content</p>
                            </div>
                        </div>
                    </section><!-- End Counts Section -->
                </div>

                <div class="col-lg-6 order-1 order-lg-2">
                    <h3>Submitted Content</h3>
                    <div class="FixedHeightContainer">
                        <div class="icon-box ">
                            <h5 class="title"><a href="">Youtube Videos will come here</a></h5>
                            <div class="row">
                                <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" width="150" height="100"
                                    frameborder="0" allowfullscreen></iframe>
                                <div class="col">
                                    <h6 class="ml-3">Duration:&nbsp;45 Mins</h6>
                                    <h6 class="ml-3">Channel:&nbsp;Blacksheep</h6>
                                    <h6 class="ml-3">Views:&nbsp;2,000</h6>
                                </div>
                            </div>
                        </div>
                        <div class="icon-box ">
                            <h5 class="title"><a href="">Youtube Videos will come here</a></h5>
                            <div class="row">
                                <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" width="150" height="100"
                                    frameborder="0" allowfullscreen></iframe>
                                <div class="col">
                                    <h6 class="ml-3">Duration:&nbsp;45 Mins</h6>
                                    <h6 class="ml-3">Channel:&nbsp;Blacksheep</h6>
                                    <h6 class="ml-3">Views:&nbsp;2,000</h6>
                                </div>

                            </div>

                        </div>
                        <div class="icon-box ">
                            <h5 class="title"><a href="">Youtube Videos will come here</a></h5>
                            <div class="row">
                                <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" width="150" height="100"
                                    frameborder="0" allowfullscreen></iframe>
                                <div class="col">
                                    <h6 class="ml-3">Duration:&nbsp;45 Mins</h6>
                                    <h6 class="ml-3">Channel:&nbsp;Blacksheep</h6>
                                    <h6 class="ml-3">Views:&nbsp;2,000</h6>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services">
            <div class="container">

                <div class="col">
                    <h3>Waiting for your review</h3>
                    <div class="FixedHeightContainerWaitReview">
                        <div class="col">
                            <div class="icon-box">
                                <h5 class="title"><a href="">Youtube Videos will come here</a></h5>
                                <div class="row">
                                    <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" width="150" height="100"
                                        frameborder="0" allowfullscreen></iframe>
                                    <div class="col">
                                        <h6 class="ml-3">Duration:&nbsp;45 Mins</h6>
                                        <h6 class="ml-3">Channel:&nbsp;Blacksheep</h6>
                                        <h6 class="ml-3">Views:&nbsp;2,000</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="icon-box ">
                                <h5 class="title"><a href="">Youtube Videos will come here</a></h5>
                                <div class="row">
                                    <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" width="150" height="100"
                                        frameborder="0" allowfullscreen></iframe>
                                    <div class="col">
                                        <h6 class="ml-3">Duration:&nbsp;45 Mins</h6>
                                        <h6 class="ml-3">Channel:&nbsp;Blacksheep</h6>
                                        <h6 class="ml-3">Views:&nbsp;2,000</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="icon-box ">
                                <h5 class="title"><a href="">Youtube Videos will come here</a></h5>
                                <div class="row">
                                    <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" width="150" height="100"
                                        frameborder="0" allowfullscreen></iframe>
                                    <div class="col">
                                        <h6 class="ml-3">Duration:&nbsp;45 Mins</h6>
                                        <h6 class="ml-3">Channel:&nbsp;Blacksheep</h6>
                                        <h6 class="ml-3">Views:&nbsp;2,000</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Featured Services Section -->

    </main><!-- End #main -->


    <main id="main">

        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services">
            <div class="container">

                <div class="col">
                    <h3 class="mt-5 mb-2">Recent activities</h3>
                    <div class="FixedHeightContainerRecentActivity">
                        <div class="col">
                            <div class="icon-box ">
                                <h5 class="title"><a href="">give comment for below video</a></h5>
                                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                                    excepturi sint occaecati cupiditate non provident</p>
                                <h6 class="text-right">10:00AM&nbsp;&nbsp;10/12/2020</h6>
                            </div>
                            <div class="icon-box ">
                                <h5 class="title"><a href="">Awesome ! you reviwed below video</a></h5>
                                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                                    excepturi sint occaecati cupiditate non provident</p>
                                <h6 class="text-right">10:00AM&nbsp;&nbsp;10/12/2020</h6>
                            </div>
                            <div class="icon-box ">
                                <h5 class="title"><a href="">Awesome ! you reviwed below video</a></h5>
                                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                                    excepturi sint occaecati cupiditate non provident</p>
                                <h6 class="text-right">10:00AM&nbsp;&nbsp;10/12/2020</h6>
                            </div>
                            <div class="icon-box ">
                                <h5 class="title"><a href="">Awesome ! you reviwed below video</a></h5>
                                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                                    excepturi sint occaecati cupiditate non provident</p>
                                <h6 class="text-right">10:00AM&nbsp;&nbsp;10/12/2020</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Featured Services Section -->

    </main>
    <%- include('includes/footer') %>