<%- include('includes/header') %>
<body>
    <div class="FixedHeightContainerViewActivity">
        <div class="container">
            <h4>Video owner uploaded at 10:00AM&nbsp;&nbsp;10/12/2020</h4>
            <h5 class="title"><a href="">Youtube title</a></h5>
            <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" width="800" height="400" frameborder="1"
                allowfullscreen></iframe>
        </div>
        <form action="#" method="POST" class="text-left mt-5">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Feedback</label>
                <textarea class="form-control mt-2" id="exampleFormControlTextarea1" rows="3"></textarea>
                <button type="submit" class="btn btn-block feedback-submit">Submit</button>
            </div>
        </form>
    </div>


    <main id="main">

        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services">
            <div class="container">
                <div class="col">
                    <h3 class=" mb-2">Feedbacks</h3>

                    <div class="col">
                        <div class="icon-box ">
                            <h5 class="title"><a href="">Username</a></h5>
                            <p class="description">need to improve video editing </p>
                            <h6 class="text-right">10:00AM&nbsp;&nbsp;10/12/2020</h6>
                        </div>
                        <div class="icon-box ">
                            <h5 class="title"><a href="">Username</a></h5>
                            <p class="description">need to improve video editing </p>
                            <h6 class="text-right">10:00AM&nbsp;&nbsp;10/12/2020</h6>
                        </div>
                        <div class="icon-box ">
                            <h5 class="title"><a href="">Username</a></h5>
                            <p class="description">need to improve video editing </p>
                            <h6 class="text-right">10:00AM&nbsp;&nbsp;10/12/2020</h6>
                        </div>
                        <div class="icon-box ">
                            <h5 class="title"><a href="">Username</a></h5>
                            <p class="description">need to improve video editing </p>
                            <h6 class="text-right">10:00AM&nbsp;&nbsp;10/12/2020</h6>
                        </div>
                    </div>
                </div>
                <h4 class="text-center mt-3"><i class="em em-end" aria-role="presentation" aria-label="END WITH LEFTWARDS ARROW ABOVE"></i>
                </h4>
            </div>
        </section><!-- End Featured Services Section -->
    </main>
    <%- include('includes/minimalfooter') %>